*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.herro-images{
    height: 100vh;
    min-width: min-content;;
    text-align: center;
    background-image: url(../images/about.jpg);
    background-size: cover
    
}
.herro-images h1{
    font-size: 8rem;

}

.herro-images-tre{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    right: 0px;
}
.herro-images-tre img{
    cursor: pointer;
    border-radius: 50%;
    background-color: mediumvioletred;
}
.herro-images-tre img{
    width: 200px;
    height: 200px;
}